<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Word Guessing Game</title>
  </head>

  <body>
      <h1 style="text-align:center;"> Guess the Word!</h>

      <div id="word-display" style="background-color:pink; height: 50px;">
        {{#display}}
        {{.}}
        {{/display}}

      </div>

      <div id="guess-tracking"style="align-content:center;">
          <p> You've guessed: {{guess}} </p>
          <p> You have <span style="color:aqua">{{limit}}</span> guesses left </p>
        {{double}}
        {{#errors}}
        <p style="color:red">{{msg}}</p>
        {{/errors}}

        <form action="/guess" method="post">
          <input type="text" name="letter" placeholder="Enter a letter here" maxlength="1">
          <button type="submit" name"button">Guess!</button>
        </form>
      </div>

  </body>

</html>
