<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>So Close!</title>
  </head>
  <body>
    <h1> You were so close! </h1>
  <iframe src="https://giphy.com/embed/wloGlwOXKijy8" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <h2> The word was {{word}}

    <form action="/" method="get">
      <h3> Play Again? </3>
      <button type="submit" name="playagain" >Play Again!</button>
    </form>

  </body>
</html>
